{% load i18n static %}
<header>
    {% if request %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'core:stack_list' %}"><img style="height: 50px;" src="{% static 'img/stack.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" >
                        {% if list_page %}
                            <a class="nav-link text-danger" href="{% url 'core:search_view' %}"> Search QA</a>
                        {% else %}
                            <a class="nav-link text-danger" href="{% url 'core:stack_list' %}">Home <span class="sr-only">(current)</span></a>
                        {% endif %}
                    </li>
                    
                </ul>
            </div>
        </nav>
    {% endif %}
</header>
